<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Ubuntu:wght@300&display=swap" rel="stylesheet">
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML 5 Boilerplate</title>
    <link rel="stylesheet" href="static/style.css">
  </head>
  <body>


    
  <div class= "Home">
    <div class="headtext" > Grate Cheese</div>
    <br>
    <button class="HomeButton">Sign Up</button>
    </br></br>
    <a href="{{ url_for('Login') }}"><button class="HomeButton" href="">Log In</button></a>
    </br></br>
    <button class="HomeButton">About Us</button>
    
  
  
  
  </div>
  
  
  
  </body>


  
</html>