<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Ubuntu:wght@300&display=swap" rel="stylesheet">
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML 5 Boilerplate</title>
    <link rel="stylesheet" href="static/style.css">
  </head>
  <body>



  <div class= "Home">
    <div class="headtext" > Log In</div>
    <br></br></br>
    <form class="loginForm" method = "post">
      <label class ="formPrompt" for="Username"> Username: </label>
    <input class="formInput" type="text" id="Username" name="Username">
    </br></br>
       <label class ="formPrompt" for="Password"> Password: </label>
    <input class="formInput" type="text" id="Password" name="Password">
    </br></br>
      <button type="submit" class="LoginButton"> Log In </button>

      

      
    </form> 
    
  
  
  
  </div>
  
  
  
  </body>


  
</html>